@model ITMO.ASP.NET_MVC.Models.Person

@*@{
    Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Здравствуйте";
}*@
<body>
    <div>
        <h1>Здравствуйте, @Model.ToString()!</h1>
        <p>
            @Html.ActionLink("На главную", "Index")
        </p>
    </div>
</body>

